body 
{
    background-color: #D6E2F0;
    margin: 10px 0px 10px 10px;
    font-family: sans-serif
}

.border
{
    width: 30%;
    height: 45%;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 1%;
    
    
}
.qr-img
{   
width: 92%;
margin-top: 4%;
margin-bottom: 0%;
border-radius: 8px;
}

h3
{

font-size:18px;
width: 90%;
padding: 5%;
}

p 
{
    font-size: 12px;
    width: 90%;
    margin-left: 5%;
    
    
}
.attribution
{
    color: #6D6F78;
    font-size: 8px;
    text-align: center;
    width: 90%;
    padding-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    
    

}

